<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="flex flex-col bg-red-200 p-4 gap-4">
        <div><a class="text-blue-500 underline" href="/">Go to Home</a></div>
     <h1 class="text-3xl"><%=filename %></h1>  
     <h3><%=filedata %></h3>
             
    </div>
</body>
</html>